<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.luzhuo.lib_core" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="me.luzhuo.fileprovider.${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- 共享路径 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>
